
.odsazeniListy{
  margin-left: 10em;
}
.odsazeniListy2{
  margin-left: 10em;
}
.hory{
  margin-left: 0.75em;
}
.hory2{
  margin-left: 2.5em;
}
.svgL{
  margin-left: 1em;
}
.svgP{
  margin-right: 17em;
}

.m{
    margin-right: 8em;
    margin-left: 8em;
}
.o{
  margin-right: 2em;
  margin-left: 2em;
}
.k {
  margin-top: 1em;
  margin-bottom: 1em;
}
.l{
padding-top: 1em;
padding-bottom: 1em;
}
/*
  rowspan="2"
  colspan="2"
  */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.H:hover{
  color: dodgerblue;
}